<html xmlns:th="https://thymeleaf.org">

<head>
    <script src="../../static/css/jquery.min.js" th:src="@{/css/jqeury.min.js}"></script>
    <script src="../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>

</head>

<body>
    <div th:text = ${resultList[0].MEMBER_ID}></div>
    <div th:text = ${resultList[0].NAME}></div>

    <div th:text = ${resultList[1].MEMBER_ID}></div>
    <div th:text = ${resultList[1].NAME}></div>

    <div th:text = ${resultList[2].MEMBER_ID}></div>
    <div th:text = ${resultList[2].NAME}></div>
</body>

</html>